.censored-text {
    background-color: #000;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
  .censored-text:hover {
    color: #fff;
  }
  
  #toggle-mode-button {
    position: fixed;
    bottom: 60px; 
    right: 20px;
    z-index: 9999;
    background-color: #ccc; 
    color: #000;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
  }
  #toggle-mode-button:hover {
    background-color: #bbb;
  }
  
